@{
    ViewData["Title"] = "CompraExitosa";
}

<h2>🎉 ¡Compra Exitosa!</h2>
<pre style="white-space: pre-wrap;">
    @ViewBag.Mensaje
</pre>
<a href="/" class="btn btn-primary">Volver al inicio</a>
