@{
    ViewData["Title"] = "Registro";
    <link rel="stylesheet" href="/css/regis.css" />
}

<div>
    <form method="post" class="registro-form">
        <h2>Registrarse</h2>
        <input name="username" placeholder="Usuario" required />
        <input name="email" type="email" placeholder="Correo" required />
        <input name="pass" type="password" placeholder="Contraseña" required />
        <button type="submit">Registrarse</button>
    </form>
</div>
